<h1 class="catalog-title">ABOUT US</h1>

<div class="timeline">

  <!-- TODAY -->
  <div class="timeline-item left">
    <div class="timeline-content">
      <h2>Today</h2>
      <p>
        Enjoy a gourmet stop in L'Atelier du Fromage for breakfast, lunch or a little treat
        and fall in love with New Zealand's largest selection of French cheeses,
        charcuterie and delicacies.
      </p>
    </div>
    <div class="timeline-image">
      <img src="assets/icon/queso.png" alt="L'Atelier du Fromage">
    </div>
  </div>

  <!-- 1991 -->
  <div class="timeline-item right">
    <div class="timeline-content">
      <h2>1991</h2>
      <p>
        1991 Jean-Christophe took the opportunity to travel to New-Zealand to learn more about NZ wines.
        Six months after arriving he would meet his future wife and some years later, his business partners,
        Peter & Scott.
      </p>
    </div>
    <div class="timeline-image">
      <img src="assets/about/1991.jpg" alt="1991 Maison Vauron">
    </div>
  </div>

  <!-- FAMILY -->
  <div class="timeline-item left">
    <div class="timeline-content">
      <h2>Family & Partnership</h2>
      <p>
        The influence of family has always been strong, with siblings of both JC and Peter involved
        in various parts of the operation and are still involved today, likewise the partners of
        both JC and Scott work in the business.
      </p>
    </div>
    <div class="timeline-image">
      <img src="assets/about/family.jpg" alt="Family and Partners">
    </div>
  </div>

  <!-- 2000 -->
  <div class="timeline-item right">
    <div class="timeline-content">
      <h2>2000</h2>
      <p>
        2000 Maison Vauron moved from Boston Road to our current location in Newmarket.
        Welcome to McColl Street!
      </p>
    </div>
    <div class="timeline-image">
      <img src="assets/about/2000.jpg" alt="Maison Vauron 2000">
    </div>
  </div>

  <!-- 2005 -->
  <div class="timeline-item left">
    <div class="timeline-content">
      <h2>2005</h2>
      <p>
        2005 saw the introduction of La Fromagerie to Maison Vauron.
        La Fromagerie under the guidance of Gilles Mereau is now regarded as the leading importer
        and distributor of French cheeses and specialty goods in New-Zealand.
      </p>
    </div>
    <div class="timeline-image">
      <img src="assets/about/2005.jpg" alt="La Fromagerie 2005">
    </div>
  </div>

  <!-- 2010 -->
  <div class="timeline-item right">
    <div class="timeline-content">
      <h2>2010</h2>
      <p>
        2010 Gilles was awarded the medal of "Ordre du Mérite agricole"
        by the French Ambassador of New Zealand.
      </p>
    </div>
    <div class="timeline-image">
      <img src="assets/about/2010.jpg" alt="Ordre du Mérite agricole 2010">
    </div>
  </div>

</div>
